/* ширифты */
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.map-widget-layout-view__controls {
  display: none !important;
}

/* /ширифты */
/* общие настройки */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  box-sizing: border-box;

}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    margin: 0 -8px;
  }

  .row {
    margin: 0 -8px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 8px;
  }

  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: 100%;
  }

  .col-l-1 {
    width: calc(100% / 12);
  }

  .col-l-2 {
    width: calc(100% / 12 * 2);
  }

  .col-l-3 {
    width: calc(100% / 12 * 3);
  }

  .col-l-4 {
    width: calc(100% / 12 * 4);
  }

  .col-l-5 {
    width: calc(100% / 12 * 5);
  }

  .col-l-6 {
    width: calc(100% / 12 * 6);
  }

  .col-l-7 {
    width: calc(100% / 12 * 7);
  }

  .col-l-8 {
    width: calc(100% / 12 * 8);
  }

  .col-l-9 {
    width: calc(100% / 12 * 9);
  }

  .col-l-10 {
    width: calc(100% / 12 * 10);
  }

  .col-l-11 {
    width: calc(100% / 12 * 11);
  }

  .col-l-12 {
    width: 100%;
  }

  .ord-l-1 {
    order: 1;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .hide-l {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hide-d {
    display: none !important
  }
}

@media (max-width: 600px) {
  .grid {
    margin: 0 -8px;
    display: flex;
  }

  .row {
    margin: 0 -8px;
  }

  .col-m-1 {
    width: calc(100% / 12);
  }

  .col-m-2 {
    width: calc(100% / 12 * 2);
  }

  .col-m-3 {
    width: calc(100% / 12 * 3);
  }

  .col-m-4 {
    width: calc(100% / 12 * 4);
  }

  .col-m-5 {
    width: calc(100% / 12 * 5);
  }

  .col-m-6 {
    width: calc(100% / 12 * 6);
  }

  .col-m-7 {
    width: calc(100% / 12 * 7);
  }

  .col-m-8 {
    width: calc(100% / 12 * 8);
  }

  .col-m-9 {
    width: calc(100% / 12 * 9);
  }

  .col-m-10 {
    width: calc(100% / 12 * 10);
  }

  .col-m-11 {
    width: calc(100% / 12 * 11);
  }

  .col-m-12 {
    width: 100%;
  }

  .hide-m {
    display: none !important
  }
}

.b-clear {
  clear: both;
}

.body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  line-height: 130%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #545C66;
}

.body.fixed {
  overflow: hidden;
}

@media screen and (max-width: 600px) {}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

*:not(body, html)::-webkit-scrollbar {
  width: 3px;
  background-color: #EEF0F9;
  border-radius: 2px;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #FF0000;
  ;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #005FF9;
}

a:not([class]) {
  color: #005FF9;
  /* text-decoration: none; */
  text-decoration: underline;
}

a:not([class]):hover {
  text-decoration: underline;
  color: #0037D1;
}

a[href^="tel:"] {
  white-space: nowrap;
}

img {
  max-width: 100%;
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

input,
textarea {
  margin-bottom: 20px;
  padding: 17px 24px;
  display: block;
  width: 100%;
  border: 1px solid #001A2E;
  border-radius: 10px;
  background: transparent;
  resize: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #001A2E;
}

input:focus,
textarea:focus {
  border: 1px solid #005FF9;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #545C66;
}

.red {
  color: #FF0000 !important;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.page__header {
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}

.page__body {
  padding-top: 20px;
  flex-grow: 1;
  z-index: 2;
}

.p-main {
  padding-top: 0;
}

.page__footer {
  z-index: 1;
}

h1,
.b-h1 {
  margin: 0.6em 0 0.7em;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #001A2E;
  position: relative;
  width: max-content;
  max-width: 100%;
}

h1::after {
  content: '';
  position: absolute;
  top: calc(50% + 3px);
  left: calc(100% + 20px);
  width: calc(100vw - 100%);
  max-width: calc(1280px - 100% - 120px - 20px);
  height: 1px;
  background: #FF0000;
}

.h1-no-line::after {
  display: none;
}

.col-6 h1::after,
.col-7 h1::after,
.col-8 h1::after,
.col-l-9 h1::after {
  display: none;
}

.b-sub-h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 130%;
  font-weight: 700;
  font-size: 20px;
  color: #001A2E;
}

h2 {
  margin: 0 0 0.8em;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #001A2E;
  position: relative;
  width: max-content;
  max-width: 100%;
}

h2::after {
  content: '';
  position: absolute;
  top: calc(50% + 3px);
  left: calc(100% + 20px);
  width: calc(100vw - 100%);
  max-width: calc(1280px - 100% - 120px - 20px);
  height: 1px;
  background: #FF0000;
}

.h2-no-line::after {
  display: none;
}

h3 {
  margin: 0 0 1em;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

h4 {
  margin: 0 0 1em;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #001A2E;
}

ul:not([class]) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul:not([class]) li {
  margin-bottom: 20px;
  padding-left: 15px;
  position: relative;
}

ul:not([class]) li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 8px;
  height: 8px;
  background: #005FF9;
  border-radius: 50%;
}

.b-tick-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.b-tick-ul li {
  margin-bottom: 10px;
  padding-left: 26px;
  position: relative;
}

.b-tick-ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 14px;
  height: 10px;
  background: url(../img/icons/tick.svg) 50% 50% no-repeat;
}

.b-txt a {
  text-decoration: none;
}

.b-txt p {
  margin-top: 0;
}

.b-cols {
  columns: 2;
  column-gap: 24px;
}

.b-cols a {
  text-decoration: none;
}

.b-cols p {
  margin-top: 0;
}

.b-cols p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {

  h1,
  .b-h1 {
    font-size: 40px;
  }

  h1::after {
    width: calc(100vw - 100% - 80px - 20px);
  }

  .b-sub-h1 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #545C66;
  }

  h2 {
    font-size: 35px;
  }

  h2::after {
    width: calc(100vw - 100% - 80px - 20px);
  }

  h3 {
    font-size: 20px;
  }

  .b-cols {
    columns: 1;
    column-gap: 0;
  }
}

@media screen and (max-width: 600px) {

  input,
  textarea {
    margin-bottom: 12px;
  }

  h1,
  .b-h1 {
    font-size: 35px;
  }

  h1::after {
    display: none;
  }

  .b-sub-h1 {
    margin-bottom: 25px;
  }

  h2 {
    font-size: 30px;
  }

  h2::after {
    display: none;
  }

  h3 {
    font-size: 18px;
  }
}

.ovh {
  overflow: hidden;
}

.section {
  margin-bottom: 100px;
}

.section-min {
  margin-bottom: 55px;
}

.section-blue {
  padding: 100px 0;
  background: #F3F8FC;
}

.section-blue--has-border {
  position: relative;
}

.section-blue--has-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid rgba(84, 92, 102, 0.5);
  max-width: 1280px;
}

.small-mb {
  margin-bottom: 0.3em;
}

.no-pb {
  padding-bottom: 0 !important;
}

.no-mb {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

.container-big {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.b-text {
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section {
    margin-bottom: 80px;
  }

  .section-min {
    margin-bottom: 60px;
  }

  .section-blue {
    padding: 80px 0;
  }

  .section-blue--has-border::after {
    width: calc(100% - 80px);
  }

  .no-pb-l {
    padding-bottom: 0 !important;
  }

  .center-l {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .b-text {
    margin-bottom: 30px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section {
    margin-bottom: 60px;
  }

  .section-min {
    margin-bottom: 35px;
  }

  .section-blue {
    padding: 60px 0;
  }

  .section-blue--has-border::after {
    width: calc(100% - 32px);
  }

  .no-pb-s {
    padding-bottom: 0 !important;
  }

  .center-m {
    text-align: center;
  }
}

.btn-red {
  display: block;
  padding: 17px 26px;
  width: max-content;
  max-width: 100%;
  background: #FF0000;
  border-radius: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-red:hover {
  transition: all 0.3s;
  text-decoration: none;
  background: #D22626;
}

.btn-blue {
  display: block;
  padding: 17px 26px;
  width: max-content;
  max-width: 100%;
  background: #005FF9;
  border-radius: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-blue:hover {
  transition: all 0.3s;
  text-decoration: none;
  background: #0037D1;
  color: #fff;
}

.btn-arr {
  display: block;
  width: max-content;
  max-width: 100%;
  padding: 17px 50px 17px 26px;
  background: #005FF9;
  border-radius: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-arr::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 26px;
  width: 16px;
  height: 12px;
  transform: translateY(-50%);
  background: url(../img/icons/white-arr.svg) 50% 50% no-repeat;
  transition: all 0.3s;
}

.btn-arr:hover {
  transition: all 0.3s;
  text-decoration: none;
  background: #0037D1;
}

.btn-arr:hover::after {
  transition: all 0.3s;
  right: 20px;
}

/* шапка */
.b-header {}

.header__top {
  padding: 8px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__phones {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__phone {
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
  color: #001A2E;
  transition: all 0.3s;
  text-decoration: none;
}

.header__phone:hover {
  text-decoration: none;
  color: #FF0000;
}

@media (max-width: 1200px) {
  .b-header {
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  }

  .header__top {
    padding: 8px 0;
  }

  .header__btn {
    display: none;
  }

  .header__logo img {
    width: 92px;
  }

  .header__right {
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .header__phone {
    display: none;
  }
}

/* /шапка */
/*  меню в шапке */
.b-menu {
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F3F8FC;
  border-radius: 10px;
}

.menu__item {
  position: relative;
}

.menu__link {
  padding: 20px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #001A2E;
}

.menu__item:hover .menu__link,
.menu__link:hover,
.menu__item.active .menu__link {
  text-decoration: none;
  color: #005FF9;
  transition: all 0.3s;
}

.menu__item.has-child .menu__link::after {
  content: "\25BC";
  margin-left: 5px;
  font-size: 10px;
}

.menu__sub {
  display: none;
  padding: 20px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: -20px;
  width: 300px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}

.menu__sub:after {
  content: '';
  background: #F3F8FC;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: -1;
}

.menu__item:hover .menu__sub {
  display: block;
  opacity: 1;
}

.menu__subitem {
  margin-top: 10px;
}

.menu__sublink {
  display: block;
  line-height: 130%;
  font-size: 14px;
  text-decoration: none;
  color: #001A2E;
  transition: all 0.3s;
}

.menu__sublink:hover {
  text-decoration: none;
  color: #FF0000;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .b-menu {
    display: none;
  }
}

/* / меню в шапке */
/* Хлебные крошки */
.b-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  color: #545C66;
}

.b-breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  line-height: 1;
}

.b-breadcrumbs li::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background: #001A2E;
}

.b-breadcrumbs li:last-child::after {
  display: none;
}

.b-breadcrumbs li a {
  text-decoration: none;
  color: #001A2E;
}

.b-breadcrumbs li a:hover {
  text-decoration: none;
  color: #FF0000;
}

/* /Хлебные крошки */
/* подвал */
.b-footer {}

.footer__contacts {
  width: 200px;
}

.footer__top {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #001A2E;
  text-decoration: none;
}

.footer__phone:hover {
  text-decoration: none;
  color: #FF0000;
}

.footer__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__item--adress {
  align-items: start;
}

.footer__icon {
  width: 24px;
  min-width: 24px
}

.footer__icon img {
  display: block;
}

.footer__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #005FF9;
  text-decoration-line: underline;
}

.footer__link:hover {
  color: #FF0000;
}

.footer__socity {
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 52px;
}

.footer__socity:hover {
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.05);
}

.footer__txt {
  font-size: 14px;
  line-height: 164%;
  color: #545C66;
}

.footer__menu {
  width: calc(100% - 430px);
}

.footer__logo {
  margin-right: 20px;
}

.footer__bottom {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 30px;
  color: rgba(84, 92, 102, 0.8);
}

.footer__left a {
  text-decoration: underline;
  color: rgba(84, 92, 102, 0.8);
}

@media (max-width: 1200px) {


  .b-footer .section-blue {
    padding-top: 50px;
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer__logo {
    margin-bottom: 40px;
    width: 100%;
  }

  .footer__menu {
    margin-bottom: -173px;
    width: 100%;
  }

  .footer__contacts {
    width: 50%;
    margin-left: 50%;
  }
}

@media (max-width: 600px) {
  .b-footer .section-blue {
    padding-top: 65px;
  }

  .footer__bottom {
    align-items: flex-end;
  }

  .footer__left {
    gap: 20px;
    flex-direction: column;
    font-size: 12px;
  }

  .footer__copy {
    width: 100%;
    order: 1;
  }

  .footer__dev {
    max-width: 40%;
  }

  .footer__menu {
    margin-bottom: 0;
  }

  .footer__contacts {
    width: 100%;
    margin-left: 0;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__phone {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .footer__item {
    margin-bottom: 15px;
  }
}

/* /подвал */
/* меню в подвале */
.b-footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-menu__title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #010810;
  text-decoration: none;
}

.footer-menu__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu__li {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-menu__li a {
  transition: all 0.3s;
  color: #545C66;
  text-decoration: none;
}

.footer-menu__li a:hover {
  text-decoration: none;
  color: #FF0000;
}

.footer-menu__col {
  min-width: 180px;
}

@media (max-width: 1200px) {
  .b-footer-menu {
    flex-wrap: wrap;
    gap: 0;
  }

  .footer-menu__col {
    margin-bottom: 25px;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .footer-menu__col {
    width: 100%;
  }

  .footer-menu__title {
    font-size: 18px;
    line-height: 16px;
  }

  .footer-menu__li {
    margin-bottom: 10px;
  }

  .footer-menu__col {
    margin-bottom: 20px;
  }
}

/* /меню в подвале */
/* адаптивное меню */
.b-adaptive-menu {
  position: relative;
  z-index: 100;
  display: none;
}

.adaptive-menu__inside {
  position: absolute;
  padding: 20px 40px;
  top: calc(100% + 16px);
  width: 350px;
  right: -40px;
  /* width: 100vw; */
  border-radius: 0 0 0 8px;
  background: #F3F8FC;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  display: none;
  max-height: calc(100vh - 72px);
  overflow: auto;
}

.adaptive-menu__opener {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.adaptive-menu__opener span {
  display: block;
  width: 40px;
  height: 2px;
  background: #001A2E;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.adaptive-menu__opener span:nth-child(1) {
  top: 50%;
}

.adaptive-menu__opener span:nth-child(2) {
  top: calc(50% - 9px);
}

.adaptive-menu__opener span:nth-child(3) {
  top: calc(50% + 9px);
}

.b-adaptive-menu.open .adaptive-menu__opener span:nth-child(1) {
  opacity: 0;
}

.b-adaptive-menu.open .adaptive-menu__opener span:nth-child(2) {
  transform: rotate(45deg) translate(8px, 7px);
}

.b-adaptive-menu.open .adaptive-menu__opener span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.adaptive-menu__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.adaptive-menu__li a {
  display: block;
  padding: 5px 0;
  font-weight: 500;
  font-size: 16px;
  color: #001A2E;
}

.adaptive-menu__li--has-children {
  position: relative;
}

.adaptive-menu__showsub {
  display: block;
  position: absolute;
  top: 13px;
  right: 0;
  margin-left: 15px;
  width: 20px;
  height: 10px;
  min-width: 30px;
  background: url(../img/icons/arr-down.svg) 50% 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.3s;
}

.adaptive-menu__showsub.open {
  transform: rotate(180deg);
}

.adaptive-menu__sub {
  margin: 15px 0;
  padding-left: 20px;
  list-style-type: none;
  display: none;
}

.adaptive-menu__subli a {
  font-size: 14px;
  color: #545C66;
}

.adaptive-menu__contacts {
  margin-top: 30px;
  display: none;
}

.adaptive-menu__phone {
  margin-bottom: 10px;
  display: block;
  color: #010810;
}

.adaptive-menu__phone::before {
  content: '';
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons/i-phone.svg)50% 50% no-repeat;
}

@media (max-width: 1200px) {
  .b-adaptive-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .adaptive-menu__inside {
    width: 100vw;
    right: -16px;
  }

  .adaptive-menu__contacts {
    display: block;
  }
}

/* /адаптивное меню */
/* попапы */
.fancybox-close-small {
  margin: 20px;
  top: 20px;
  right: 20px;
  background: url(../img/icons/cross.svg) 50% 50% no-repeat;
  width: 23px;
  height: 23px;
}

.fancybox-close-small svg {
  display: none;
}

.fancybox-bg {
  background: rgba(0, 26, 46, 0.6);
}

.b-popup {
  padding: 45px 65px 55px;
  display: none;
  border-radius: 10px;
  background: #fff;
}

.popup__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #001A2E;
}

.popup__btn {
  margin-bottom: 20px;
  width: 100%;
}

.popup__info {
  margin: 0 auto;
  max-width: 380px;
  text-align: center;
}

@media (max-width: 1200px) {
  .popup__title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .b-popup {
    padding: 50px 20px;
  }

  .popup__title {
    font-size: 35px;
  }
}

/* /попапы */
/* баннер на главной */
.b-main-banner {
  margin-top: -102px;
  margin-bottom: 20px;
  overflow: hidden;
}

.main-banner__content {
  justify-content: center;
}

.main-banner__title {
  margin-bottom: 40px;
  line-height: 120%;
  font-weight: 700;
  font-size: 55px;
  color: #001A2E;
}

.main-banner__left {
  display: flex;
  justify-content: flex-end;
}

.main-banner__right {
  display: flex;
  justify-content: flex-end;
}

.main-banner__text {
  padding-top: 140px;
  max-width: calc(1160px / 2 - 12px);
  margin-left: 60px;
}

@media (max-width: 1200px) {
  .b-main-banner {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .main-banner__text {
    padding-top: 96px;
    margin: 0 40px;
    max-width: 100%;
  }

  .main-banner__right {
    margin-top: -100px;
  }

  .main-banner__title {
    margin-bottom: 30px;
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .main-banner__title {
    font-size: 35px;
  }

  .main-banner__right {
    margin-top: -20px;
  }

  .main-banner__text {
    padding-top: 60px;
    margin: 0 16px;
  }
}

/* /баннер на главной */
/* Линейка продуктов */
.b-categories {
  margin-bottom: 60px;
}

.categories__item {
  margin-bottom: 40px;
}

.categories__inside {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 240px;
}

.categories__inside::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.0540204) 50.01%, rgba(0, 95, 249, 0.648958) 100%);
  transition: all 0.3s;
}

.categories__inside::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.64897) 0.02%, rgba(0, 95, 249, 0.648958) 100%);
  opacity: 0;
  transition: all 0.3s;
}

.categories__inside:hover::before {
  opacity: 1;
  transition: all 0.3s;
}

.categories__inside:hover::after {
  opacity: 1;
  transition: all 0.3s;
}

.categories__title {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  z-index: 1;
}

.categories__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: -1;
}

.categories__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.categories__tags {
  margin: 0 -5px;
}

.categories__tag {
  padding: 10px;
  margin: 10px 5px 0;
  display: inline-block;
  background: #F3F8FC;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #152B45;
  text-decoration: none;
}

.categories__tag:hover {
  text-decoration: none;
  color: #FF0000;
}

@media (max-width: 1200px) {
  .categories__item {
    margin-bottom: 20px;
  }

  .categories__inside {
    height: 31vw;
  }
}

@media (max-width: 600px) {
  .categories__inside {
    height: 55vw;
  }

  .categories__title {
    font-size: 18px;
  }
}

/* /Линейка продуктов */
/* О компании */
.b-about {
  overflow: hidden;
}

.about__content {
  justify-content: center;
  align-items: center;
}

.about__left {
  display: flex;
  justify-content: flex-end;
}

.about__left img {
  display: block;
}

.about__right {
  display: flex;
}

.about__title {
  margin: 0 0 0.5em;
}

.about__text {
  padding: 60px 0;
  max-width: calc(1160px / 2 - 12px);
  margin-right: 60px;
  position: relative;
}

.about__year {
  position: absolute;
  top: -6px;
  right: 0;
  font-weight: 700;
  font-size: 150px;
  line-height: 120%;
  color: #005FF9;
  opacity: 0.1;
}

.about__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.about__more {
  margin-top: 25px;
  display: block;
  width: max-content;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #005FF9;
  text-decoration: none;
}

.about__more::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #005FF9;
}

.about__more:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .about__left {
    order: 2;
  }

  .about__left img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 391px;
  }

  .about__text {
    margin: 0 40px;
    padding: 80px 0 40px;
    max-width: 100%;
  }

  .about__year {
    display: none;
  }
}

@media (max-width: 600px) {
  .about__subtitle {
    font-size: 18px;
  }

  .about__text {
    margin: 0 16px;
    padding: 60px 0 30px;
  }
}

/* /О компании */
/* Преимущества */
.b-benefits {
  margin-bottom: 80px;
}

.benefits__item {
  margin-bottom: 20px;
  padding: 34px 30px 24px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: calc(100% - 20px);
  position: relative;
  z-index: 1;
}

.benefits__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.benefits__img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 60px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .b-benefits {
    margin-bottom: 60px;
  }

  .benefits__item {
    padding: 34px 38px 40px 30px;
  }
}

@media (max-width: 600px) {
  .b-benefits {
    margin-bottom: 40px;
  }

  .benefits__item {
    padding: 20px 38px 54px 20px;
  }

  .benefits__title {
    font-size: 18px;
  }

  .benefits__img {
    bottom: 5px;
  }
}

/* /Преимущества */
/* Реализованные проекты */
.b-project {
  position: relative;
}

.project__swiper {
  overflow: hidden;
}

.project__control {
  position: absolute;
  top: calc(50% - 32px - 36px);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FF0000;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 3;
}

.project__control:hover {
  background: #005FF9;
  transition: all 0.3s;
}

.project__control.is-prev {
  left: -94px;
}

.project__control.is-next {
  right: -94px;
}

.project__pagination {
  margin-top: 26px;
  text-align: center;
}

.b-project .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #FF0000;
  opacity: 1;
}

.b-project .swiper-pagination-bullet-active {
  background: #FF0000;
}

.project__slide {
  display: block;
  height: 378px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.project__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.0540204) 50.01%, rgba(0, 95, 249, 0.648958) 100%);
}

.project__slide img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.project__content {
  padding: 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
}

.project__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.project__link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 1400px) {
  .project__control.is-prev {
    left: -70px;
  }
  
  .project__control.is-next {
    right: -70px;
  }
}
@media (max-width: 1200px) {
  .project__slide {
    height: 378px;
  }

  .project__slide {
    height: 29vw;
  }

  .project__content {
    padding: 20px 20px;
  }

  .project__control {
    position: absolute;
    top: calc(50% - 25px - 28px);
    width: 50px;
    height: 50px;
  }

  .project__control.is-prev {
    left: -23px;
  }

  .project__control.is-next {
    right: -23px;
  }
}

@media (max-width: 600px) {
  .project__title {
    font-size: 18px;
  }

  .project__content {
    padding: 20px 20px;
  }

  .project__control {
    position: absolute;
    top: calc(50% - 20px - 17px);
    width: 40px;
    height: 40px;
  }

  .project__control img {
    width: 10px;
  }

  .project__pagination {
    margin-top: 13px;
  }

  .project__control.is-prev {
    left: -8px;
  }

  .project__control.is-next {
    right: -8px;
  }

  .project__slide {
    height: 60vw;
  }
}

/* /Реализованные проекты */
/* Дилерская сеть */
.b-dealer {
  margin-top: -32px;
  margin-bottom: 26px;
}

.dealer__info {
  margin-top: 78px;
  padding: 30px 30px 114px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  display: none;
}

.dealer__info.active {
  display: block;
}

.dealer__info::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 150px;
  background: url(../img/icons/big-point.svg) 50% 50% no-repeat;
  background-size: contain;
  z-index: -1;
  opacity: 0.1;
}

.dealer__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.dealer__text {
  margin-bottom: 15px;
}

.dealer__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dealer__ul li {
  margin-bottom: 15px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
  position: relative;
}

.dealer__ul li a {
  color: #001A2E;
  transition: all 0.3s;
  text-decoration: none;
}

.dealer__ul li a:hover {
  text-decoration: none;
  color: #FF0000;
  transition: all 0.3s;
}

.dealer__ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF0000;
}

.dealer__mapbox {
  display: flex;
  justify-content: flex-end;
}

.dealer__point {
  position: absolute;
  transform: translate(-50%, -100%);
  width: 11px;
  height: 16px;
  background: url(../img/icons/point.svg) 50% 100% no-repeat;
  background-size: contain;

}

.dealer__point.active {
  background: url(../img/icons/point-on.svg) 50% 100% no-repeat;
  background-size: contain;
}

.dealer__map {
  position: relative;
  max-width: max-content;
}

.dealer__point:nth-child(2) {
  top: 52.5%;
  left: 13%;
}

.dealer__point:nth-child(3) {
  top: 41.5%;
  left: 14%;
}

.dealer__point:nth-child(4) {
  top: 49.5%;
  left: 15.5%;
}

.dealer__point:nth-child(5) {
  top: 56%;
  left: 16.5%;
}

.dealer__point:nth-child(6) {
  top: 65%;
  left: 18.5%;
}

.dealer__point:nth-child(7) {
  top: 62.5%;
  left: 28.5%;
}

.dealer__point:nth-child(8) {
  top: 76.5%;
  left: 28%;
}

@media (max-width: 1200px) {
  .b-dealer {
    margin-bottom: 80px;
  }

  .dealer__mapbox {
    order: -1;
  }

  .dealer__info {
    margin-top: 10px;
  }

  .dealer__ul li {
    display: flex;
    flex-wrap: wrap;
  }

  .dealer__ul li a {
    margin-right: 10px;
  }

  .dealer__info {
    padding: 30px 30px 16px;
  }
}

@media (max-width: 600px) {
  .b-dealer {
    margin-bottom: 60px;
  }

  .dealer__info {
    padding: 20px 18px 6px;
  }

  .dealer__info::before {
    width: 80px;
    height: 100px;
  }

  .dealer__ul li {
    display: block;
  }

  .dealer__point {
    width: 5px;
    height: 7px;
  }

  .dealer__title {
    font-size: 18px;
  }
}

/* /Дилерская сеть */
/* Наши клиенты */
.b-clients {
  position: relative;
}

.clients__swiper {
  overflow: hidden;
  margin: 0 -15px;
  padding: 0 15px;
}

.clients__control {
  position: absolute;
  top: calc(50% - 32px - 36px);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FF0000;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 3;
}

.clients__control:hover {
  background: #005FF9;
  transition: all 0.3s;
}

.clients__control.is-prev {
  left: -94px;
}

.clients__control.is-next {
  right: -94px;
}

.clients__pagination {
  margin-top: 26px;
  text-align: center;
}

.b-clients .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #FF0000;
  opacity: 1;
}

.b-clients .swiper-pagination-bullet-active {
  background: #FF0000;
}

.clients__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 195px;
  position: relative;
  border-radius: 10px;
  background: #F3F8FC;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
}

.clients__link {
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__slide img {
  max-width: 100%;
  max-height: 100%;
  filter: sepia(0.8) grayscale(1);
  opacity: 0.9;
  transition: all 0.3s;
}

.clients__slide:hover img {
  filter: none;
  opacity: 1;
  transition: all 0.3s;
}
@media (max-width: 1400px) {
  .clients__control.is-prev {
    left: -70px;
  }
  
  .clients__control.is-next {
    right: -70px;
  }
}
@media (max-width: 1200px) {
  .clients__slide {
    height: 21vw;
  }

  .clients__control {
    position: absolute;
    top: calc(50% - 25px - 28px);
    width: 50px;
    height: 50px;
  }

  .clients__control.is-prev {
    left: -23px;
  }

  .clients__control.is-next {
    right: -23px;
  }
}

@media (max-width: 600px) {
  .clients__control {
    position: absolute;
    top: calc(50% - 20px - 17px);
    width: 40px;
    height: 40px;
  }

  .clients__control img {
    width: 10px;
  }

  .clients__pagination {
    margin-top: 13px;
  }

  .clients__control.is-prev {
    left: -8px;
  }

  .clients__control.is-next {
    right: -8px;
  }

  .clients__slide {
    height: 31vw;
  }
}

/* /Наши клиенты */
/* Новости */
.b-news {}

.news__btn {
  margin: auto;
}

@media (max-width: 1200px) {
  .b-news--main .news__items .col-4:last-child {
    display: none;
  }
}

@media (max-width: 600px) {
  .b-news--main .news__items .col-4:last-child {
    display: block;
  }
}

/* /Новости */
/* новость */
.news-item {
  margin-bottom: 30px;
  position: relative;
}

.news-item__img {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  display: block;
}

.news-item__img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.0540204) 50.01%, rgba(0, 95, 249, 0.648958) 100%);
}

.news-item__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.64897) 0.02%, rgba(0, 95, 249, 0.648958) 100%);
  opacity: 0;
  transition: all 0.3s;
}

.news-item:hover .news-item__img::before {
  opacity: 0;
  transition: all 0.3s;
}

.news-item:hover .news-item__img::after {
  opacity: 1;
  transition: all 0.3s;
}

.news-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
}

.news-item__date {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
  color: #545C66;
  opacity: 0.8;
}

.news-item__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.news-item__more {
  margin-top: 20px;
  display: none;
  position: relative;
  max-width: max-content;
  font-weight: 500;
  font-size: 16px;
  color: #005FF9;
}

.news-item__more::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  background: #005FF9;
}

@media (max-width: 1200px) {
  .news-item__title {
    margin-bottom: 20px;
  }

  .news-item__date {
    font-size: 14px;
  }

  .news-item__more {
    display: block;
  }
}

@media (max-width: 600px) {
  .news-item__title {
    margin-bottom: 18px;
  }
}

/* /новость */
/* О компании */
.b-company {
  overflow: hidden;
}

.company__content {
  justify-content: center;
  align-items: center;
}

.company__left {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.company__block {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
}

.company__left img {
  display: block;
}

.company__right {
  padding-right: 60px;
  display: flex;
}

.company__info h2::after {
  display: none;
}

.company__text {
  max-width: calc(1160px / 2 - 12px);
}

.company__info {
  max-width: calc(1160px / 2 - 12px);
}

.company__img {
  margin-bottom: 40px;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

.company__year {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-weight: 700;
  font-size: 150px;
  line-height: 100%;
  color: #005FF9;
  opacity: 0.1;
}

.b-company b {
  color: #001A2E;
}

.company__text>p:first-child {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .company__right {
    margin-bottom: 10px;
    padding: 0 40px;
    box-sizing: border-box;
    max-width: 100vw;
  }

  .company__left {
    padding-left: 0;
    padding-right: 40px;
    box-sizing: border-box;
    max-width: 100vw;
  }

  .company__block {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .company__img {
    margin-bottom: 0;
    width: calc(50% - 10px);
    height: 100%;
  }

  .company__img img {
    min-height: 100%;
    object-fit: cover;
  }

  .company__text {
    width: calc(50% - 10px);
  }

  .company__info {
    max-width: 100%;
  }

  .company__year {
    bottom: 100%;
    right: 40px;
    font-weight: 700;
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .company__left {
    padding: 0;
  }

  .company__right {
    padding: 0 16px;
  }

  .company__block {
    flex-direction: column;
  }

  .company__img {
    margin-bottom: 30px;
    border-radius: 0;
    width: 100%;
  }

  .company__img img {
    border-radius: 0;
    min-height: 0;
  }

  .company__text {
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
  }

  .company__year {
    display: none;
  }
}

/* /О компании */
/* Руководство */
.b-management {
  margin-bottom: -20px;
}

.management__items {
  justify-content: center;
}

.management__item {
  margin-bottom: 20px;
  padding: 38px 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  height: calc(100% - 20px);
}

.management__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.management__position {
  margin-bottom: 10px;
}

.management__tel,
.management__tel a {
  color: #001A2E;
  transition: all 0.3s;
  text-decoration: none;
}

.management__tel a:hover {
  text-decoration: none;
  color: #FF0000;
}

@media (max-width: 1200px) {
  .management__item {
    padding: 38px 25px;
  }
}

@media (max-width: 600px) {
  .management__item {
    padding: 20px;
    text-align-last: left;
  }

  .management__title {
    font-size: 18px;
  }
}

/* /Руководство */
/* Документы */
.b-documents {
  margin-bottom: -20px;
}

.documents__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column;
  justify-content: center; */
  min-height: 50px;
}

.documents__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all 0.3s;
}

.documents__item:hover .documents__img {
  opacity: 1;
  transition: all 0.3s;
}

.documents__title {
  margin-right: 5px;
  color: #545C66;
}

.documents__info {
  font-weight: 500;
  color: #005FF9;
}

.documents__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* /Документы */
/* Форма обратной связи */
.b-contact-form {
  padding-top: 36px;
  position: relative;
}

.contact-form__inside {
  border-bottom: 1px solid rgba(84, 92, 102, 0.5);
}

.contact-form__img {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.contact-form__img img {
  display: block;
}

.contact-form__inside {
  padding-top: 65px;
}

.contact-form__subtitle {
  margin-bottom: 30px;
}

.b-contact-form textarea {
  height: 128px;
}

.contact-form__btn {
  margin: 10px auto 0;
}

@media (max-width: 1200px) {
  .b-contact-form {
    padding-top: 0;
  }

  .contact-form__inside {
    padding: 80px 0;
  }

  .contact-form__subtitle {
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {
  .contact-form__inside {
    padding: 60px 0;
  }
}

/* /Форма обратной связи */
/* левое меню */
.b-left-menu {
  margin-top: 50px;
}

.b-left-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.b-left-menu .left-menu__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.left-menu__li {
  margin-bottom: 20px;
}

.left-menu__li:last-child {
  margin-bottom: 0;
}

.b-left-menu .left-menu__item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F8FC;
  border-radius: 10px;
}

.b-left-menu .left-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #001A2E;
  transition: all 0.3s;
}

.b-left-menu .left-menu__link:hover {
  text-decoration: none;
  color: #005FF9;
  transition: all 0.3s;
}

.b-left-menu .left-menu__link.active {
  color: #005FF9;
}

.b-left-menu .left-menu__sub {
  padding: 10px 20px;
  display: none;
}

.b-left-menu .left-menu__sublink {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #545C66;
  transition: all 0.3s;
  text-decoration: none;
}

.b-left-menu .left-menu__sublink:last-child {
  margin-bottom: 0;
}

.b-left-menu .left-menu__sublink:hover {
  text-decoration: none;
  color: #005FF9;
  transition: all 0.3s;
}

.b-left-menu .left-menu__sublink.active {
  font-weight: 500;
  color: #005FF9;
}

.b-left-menu .left-menu__subli {
  margin-bottom: 10px;
}

.b-left-menu .left-menu__subli:last-child {
  margin-bottom: 0;
}

.b-left-menu .left-menu__arr {
  width: 50px;
  min-width: 50px;
  text-align: right;
  cursor: pointer;
}

.b-left-menu .left-menu__arr img {
  transition: all 0.3s;
}

.b-left-menu .open.left-menu__arr img {
  transform: rotate(180deg);
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .b-left-menu {
    margin-top: 0;
  }

  .left-menu__li {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .b-left-menu .left-menu__title {
    font-size: 18px;
  }
}

/* /левое меню */
.b-products {
  margin-bottom: -40px;
}

/* товар */
.b-product {
  margin-bottom: 40px;
  height: calc(100% - 40px);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product__img {
  display: block;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  overflow: hidden;
  height: 240px;
}

.product__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.0540204) 50.01%, rgba(0, 95, 249, 0.648958) 100%);
  transition: all 0.3s;
}

.product__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 95, 249, 0.64897) 0.02%, rgba(0, 95, 249, 0.648958) 100%);
  opacity: 0;
  transition: all 0.3s;
}

.product__img:hover::before {
  opacity: 0;
  transition: all 0.3s;
}

.product__img:hover::after {
  opacity: 1;
  transition: all 0.3s;
}

.product__content {
  padding: 16px 20px 20px;
  box-sizing: border-box;
  height: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__txt {
  margin-bottom: 15px;
  min-height: 122px;
}

.product__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #001A2E;
}

.product__more {
  display: block;
  max-width: max-content;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #005FF9;
  text-decoration: none;
}

.product__more:hover {
  text-decoration: none;
}

.product__more:after {
  content: '';
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../img/icons/blue-arr.svg) 50% 50% no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.product__more::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #005FF9;
}

.product__more:hover:after {
  margin-left: 10px;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .b-products {
    margin-bottom: -55px;
  }

  .b-product {
    margin-bottom: 55px;
    height: calc(100% - 55px);
  }

  .product__img {
    height: 29vw;
  }
}

@media (max-width: 600px) {
  .b-products {
    margin-bottom: -55px;
  }

  .b-product {
    margin-bottom: 20px;
    height: auto;
  }

  .product__img {
    height: 60vw;
  }

  .product__content {
    padding: 16px 20px 26px;
    height: auto;
  }

  .product__txt {
    margin-bottom: 20px;
    min-height: 0;
  }

  .product__title {
    font-size: 18px;
  }
}

/* /товар */
/* детальная товара */
.b-product-detail {}

.b-product-detail hr {
  margin: 55px 0 55px;
  border: none;
  color: #FF0000;
  background-color: #FF0000;
  height: 1px;
}

.product-detail__top {
  align-items: center;
}

.product-detail__left img {
  border-radius: 8px;
}

.product-detail__title {
  margin-bottom: 10px;
  line-height: 130%;
  font-weight: 700;
  font-size: 20px;
  color: #001A2E;
}

.product-detail__code {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 150%;
  color: #545C66;
  opacity: 0.6;
}

.product-detail__btn {
  margin-top: 30px;
}

.product-detail__params {
  border-radius: 10px;
  overflow: hidden;
}

.product-detail__params table {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.product-detail__params table,
.product-detail__params tbody,
.product-detail__params tr,
.product-detail__params td {
  border: none;
  border-collapse: collapse;
}

.product-detail__params tr:nth-child(2n - 1) {
  background: #F3F8FC;
}

.product-detail__params tr:first-child,
.product-detail__params tr:last-child {
  background: #005FF9;
  color: #fff;
}

.product-detail__params td,
.product-detail__params th {
  padding: 6px 20px;
  box-sizing: border-box;
  width: 33.33%;
}

.product-detail__params tr:last-child td {
  text-align: right;
  text-decoration: underline;
}

.product-detail__contact {
  margin-bottom: 20px;
  font-weight: 500;
}

.product-detail__contact:last-child {
  margin-bottom: 0;
}

.product-detail__name {
  color: #001A2E;
}

.product-detail__contact a {
  font-weight: 500;
  color: #005FF9;
}

.product-detail__contact img {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {
  .product-detail__params {
    line-height: 120%;
    font-size: 14px;
  }

  .product-detail__params td,
  .product-detail__params th {
    padding: 10px;
    width: auto;
  }

  .product-detail__params tr:last-child td {
    font-size: 12px;
  }

  .product-detail__contact {
    margin-bottom: 14px;
  }

  .product-detail__contact a {
    white-space: nowrap;
  }

  .b-product-detail .b-characters table,
  .b-product-detail .b-characters tbody,
  .b-product-detail .b-characters tr,
  .b-product-detail .b-characters td {
    display: block;
  }

  .b-product-detail .b-characters td {
    width: 100%;
    padding: 10px;
  }
}

/* /детальная товара */
/* Таблица характеристик */
.b-characters {
  border-radius: 10px;
  overflow: hidden;
}

.b-characters table {
  width: 100%;
}

.b-characters table,
.b-characters tbody,
.b-characters tr,
.b-characters td {
  border: none;
  border-collapse: collapse;
}

.b-characters tr:nth-child(2n-1) {
  background: #F3F8FC;
}

.b-characters td {
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.b-characters td:first-child {
  font-weight: 500;
  line-height: 140%;
  color: #001A2E;
  vertical-align: baseline;
}

.b-characters a {
  color: #005FF9;
  text-decoration: underline;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {}

/* Таблица характеристик */
/* Тара и упаковка */
.b-package {}

.package__tabs {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.package__tab {
  padding: 10px;
  background: #F3F8FC;
  border-radius: 8px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  color: #152B45;
}

.package__tab:hover {
  color: #005FF9;
  text-decoration: none;
}

.package__tab.active {
  background: #005FF9;
  color: #FFFFFF;
  pointer-events: none;
}

.package__image img {
  border-radius: 10px;
}

.b-package .b-characters td:first-child {
  font-weight: 400;
}

.b-package .b-characters td:last-child {
  font-weight: 500;
  color: #001A2E;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {
  .package__image {
    margin-bottom: 24px;
    text-align: center;
  }
}

/* /Тара и упаковка */
/* Прайс лист */
.b-price-table {
  overflow: auto;
}

.b-price-table::-webkit-scrollbar {
  height: 4px;
}

.b-price-table::-webkit-scrollbar-thumb {
  background: #545C66;
}

.b-price-table table,
.b-price-table tbody {
  width: 100%;
}

.b-price-table table,
.b-price-table tbody,
.b-price-table tr,
.b-price-table td,
.b-price-table th {
  padding: 0;
  border: none;
  border-collapse: collapse;
  text-align: center;
  font-weight: 500;
}

.b-price-table tr:first-child td {
  border-radius: 10px 10px 0px 0px;
}

.b-price-table tr:nth-child(2) {
  border-bottom: none;
}

.b-price-table tr:nth-child(2) td:first-child {
  border-radius: 0px 0px 0px 10px;
}

.b-price-table tr:nth-child(2) td:last-child {
  border-radius: 0px 0px 10px 0;
  border-top: none;
  text-align: center;
}

.b-price-table tr:not([class]) {
  border-top: 1px solid rgba(0, 95, 249, 0.5);
}

.b-price-table td {
  padding: 10px 10px;
  vertical-align: baseline;
  width: calc(66.666% * 0.4)
}

.b-price-table td[colspan] {
  padding: 0
}

.b-price-table td:nth-child(2) {
  width: calc(66.666% * 0.2)
}

.b-price-table td:first-child {
  padding: 10px 20px;
  width: 33.33%;
  text-align: left;
}

.b-price-table td:first-child span {
  font-weight: 400;
}

.price-table__product {
  display: block;
}

.b-price-table tr table td:nth-child(n) {
  width: 40%;
}

.b-price-table tr table td:first-child {
  width: 20%;
}

.b-price-table tr table tr:not([class]) {
  border-top: none;
}

.b-price-table .price-table__name-block+tr {
  border-top: none;
}

.b-price-table .price-table__name-block td {
  padding: 0;
}

.b-price-table .price-table__name {
  margin-top: 10px;
  padding: 15px;
  background: #F3F8FC;
  border-radius: 10px;
  text-align: center;
  line-height: 130%;
  font-weight: 700;
  font-size: 20px;
  color: #545C66;
}

.b-price-table .price-table__blue {
  background: #005FF9;
  color: #fff;
  border-top: none;
}

.b-price-table .price-table__last td {
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.price-table__inf {
  text-align: center;

  text-align: center;
  font-weight: 400px;
}

.price-table__head {
  padding: 20px 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-table__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.price-table__table {
  min-width: 690px;
}

@media (max-width: 1200px) {
  .price-table__title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .b-price-table {
    margin: 0 -16px 0 0;
    padding-right: 16px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transform: scaleY(-1);
  }

  .price-table__table {
    transform: scaleY(-1);
  }

  .price-table__head {
    padding: 14px 0 13px;
  }

  .price-table__title {
    font-size: 30px;
  }

  .b-price-table .price-table__name {
    font-size: 18px;
  }

  .b-price-table td {
    padding: 10px 5px;
    width: calc(66.666% * 0.3333)
  }

  .b-price-table td:nth-child(2) {
    width: calc(66.666% * 0.3333)
  }

  .b-price-table td:first-child {
    width: 33.33%;
  }

  .b-price-table tr table td:nth-child(n) {
    width: 33.33%;
  }

  .b-price-table tr table td:first-child {
    width: 33.33%;
  }
}

/* Прайс лист */
/* Информация для дилеров */
.b-information {
  padding: 65px 70px 70px 70px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  clear: both;
}

.information__img {
  float: right;
  width: 120px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 135px;
  z-index: -1;
}

.information__text {
  /* float: left; */
}

.information__phone {
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
}

.information__padd {
  margin-right: 120px;
}

@media (max-width: 1200px) {
  .b-information {
    padding: 40px 40px 40px 40px;
  }

  .information__img {
    max-width: 90px;
  }

  .information__padd {
    margin-right: 0;
  }

  .information__padd-l {
    margin-right: 80px;
  }
}

@media (max-width: 600px) {
  .b-information {
    padding: 0;
    box-shadow: none;
  }

  .information__padd-l {
    margin-right: 0;
  }

  .information__img {
    display: none;
  }
}

/* /Информация для дилеров */
/* баннер */
.b-banner {
  overflow: hidden;
  border-radius: 10px;
}

.b-banner img {
  display: block;
  width: 100%;
}

/* /баннер */
/* видео */
.b-video {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 56%;
}

.b-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* /видео */
/* Самовывоз */
.b-pickup {}

.b-pickup h2 {
  margin: 0 0 0.4em;
}

.b-pickup h3 {
  margin: 0 0 0.3em;
}

.b-pickup ul {
  margin: 0 0 0 20px;
}

.b-pickup ul:not([class]) li {
  margin-bottom: 10px;
}

.b-pickup p {
  margin-bottom: 0;
}

.pickup__sheme {
  margin-bottom: 30px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.pickup__sheme:last-child {
  margin-bottom: 0;
}

.pickup__sheme::before {
  content: '';
  display: block;
  width: 35px;
  height: 50px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icons/point.svg) 50% 50% no-repeat;
  background-size: contain;
  opacity: 0.07;
}

.pickup__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #005FF9;
}

.pickup__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {
  .pickup__sheme {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

/* /Самовывоз */
/* Доставка */
.b-delivery {}

.delivery__item {
  padding: 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.10);
  height: 100%;
}

.delivery__title {
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 130%;
  font-size: 20px;
  color: #005FF9;
}

.b-delivery a {
  text-decoration: none;
}

.b-delivery b {
  color: #010810;
}

.delivery__blue {
  padding: 30px 25px 30px 35px;
  border-radius: 10px;
  background: #F3F8FC;
}

.delivery__btn {
  margin-top: 40px;
  padding: 13px 26px;
}

.delivery__info {
  margin-top: 40px;
  text-align: center;
}

.delivery__col p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .b-delivery .col-l-12 {
    margin-bottom: 40px;
  }

  .b-delivery .col-l-12:last-child {
    margin-bottom: 0;
  }

  .delivery__info {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .delivery__blue {
    margin: 0 -16px;
    padding: 50px 16px;
    border-radius: 0;
  }

  .delivery__item {
    padding: 20px;
  }
}

/* /Доставка */
/* Пагинация */
.b-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination__prev,
.pagination__next,
.pagination__dots,
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: #F3F8FC;
  font-weight: 500;
  color: #545C66;
  transition: all 0.3s;
}

.pagination__prev,
.pagination__next {
  cursor: pointer;
}

.pagination__prev:hover,
.pagination__next:hover {
  background: #005FF9;
}

.pagination__prev::after,
.pagination__next::after {
  content: '';
  width: 16px;
  height: 12px;
  background: url(../img/icons/paginate-prev.svg);
}

.pagination__prev:hover::after,
.pagination__next:hover::after {
  background: url(../img/icons/paginate-hov.svg);
}

.pagination__next::after {
  transform: rotate(180deg);
}

.pagination__item.active {
  background: #005FF9;
  color: #fff;
  pointer-events: none;
}

.pagination__item:hover {
  color: #005FF9;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {

  .pagination__prev,
  .pagination__next,
  .pagination__dots,
  .pagination__item {
    width: 40px;
    height: 40px;
  }
}

/* /Пагинация */
/* Карта */
.b-map {
  margin: 0 -20px 40px;
  padding: 0 20px;
  overflow: hidden;
  border-radius: 10px;
  height: 512px;
  position: relative;
}

.b-map:last-child {
  margin-bottom: 0;
}

.map__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  left: 20px;
  padding: 0 20px;
  overflow: hidden;
  border-radius: 10px;
}

.b-map iframe {
  position: absolute;
  top: -45px;
  bottom: 0;
  right: 0px;
  left: 0px;
  width: 100% !important;
  height: calc(100% + 90px) !important;
}

.map__info {
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 90px;
  width: 500px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.10);
}

.map__title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: #001A2E;
}

.map__txt {
  margin-bottom: 15px;
  font-size: 14px;
}

.map__item {
  margin-bottom: 20px;
}

.map__item:last-child {
  margin-bottom: 0;
}

.map__name {
  font-weight: 500;
  color: #001A2E;
}

.map__icon {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.b-map ul:not([class]) {
  margin-left: 22px;
}

.b-map ul:not([class]) li {
  margin-bottom: 8px;
}

.b-map a {
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .map__info {
    left: 20px;
    width: 450px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 600px) {
  .b-map {
    margin: 0 0 60px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .map__title {
    font-size: 18px;
  }

  .map__info {
    margin-bottom: 30px;
    padding: 20px;
    position: static;
    order: -1;
    width: 100%;
    transform: translate(0);
  }

  .map__wrap {
    position: relative;
    height: 61vw;
    right: 0px;
    left: 0px;
  }

  .b-map ul li span {
    display: block;
  }
}

/* /Карта */
/* Контакты */
.b-contacts {
  margin-bottom: -30px;
}

.contacts__item {
  padding: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 30px);
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.10);
}

.contacts__title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: #001A2E;
}

.contacts__text {
  margin-bottom: 10px;
  font-size: 14px;
}

.contacts__block {
  margin-bottom: 14px;
}

.contacts__block:last-child {
  margin-bottom: 0;
}

.contacts__name {
  font-weight: 500;
  color: #001A2E;
}

.contacts__icon {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.b-contacts ul:not([class]) {
  margin-left: 22px;
}

.b-contacts ul:not([class]) li {
  margin-bottom: 8px;
}

.b-contacts a {
  text-decoration: none;
  font-weight: 500;
}

.contacts__name {
  font-weight: 500;
}

@media (max-width: 1200px) {}

@media (max-width: 600px) {
  .contacts__title {
    font-size: 18px;
  }
}

/* /Контакты */
/*  */
.b-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-error h1::after {
  display: block;
}

.error__img {
  text-align: right;
  margin-right: -60px;
  z-index: 2;
}

.error__img img {
  display: block;
}

.error__btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .b-error h1::after {
    display: none;
  }

  .error__img {
    margin-right: 0;
  }

  .error__img img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .error__img {
    margin: 0 -16px;
    padding-left: 20px;
    width: calc(100% + 32px);
  }
}

/*  */
.b-policy {}

.b-policy ol {
  counter-reset: item;
  padding: 0;
  margin: 0;
}

.b-policy li {
  display: block
}

.b-policy li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  color: #0037D1;
}
.b-policy ol li {
  margin-bottom: 50px;
}
.b-policy ol li ol li,
.b-policy ol li ol li ol li {
  margin-top: 10px;
  margin-bottom: 0;
}
.b-policy ol li ol li ol {
  padding-left: 20px;
}